@import "tailwindcss";

html {
  scroll-behavior: smooth; /* плавная прокрутка */
}

[id] {
  scroll-margin-top: 100px; /* высота вашего header */
}

body {
  @apply bg-neutral-900 text-neutral-300 font-light;
}

button {
  @apply bg-neutral-800/50 text-neutral-300 px-4 py-2 rounded hover:bg-neutral-800/20 hover:text-white cursor-pointer font-normal transition-colors duration-300;
}